.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 3px 0px black;
  font-family: 'Open Sans Condensed', sans-serif; }
  .header a {
    width: 70%; }
    .header a h2 {
      font-size: 1.75em;
      font-weight: lighter;
      margin: 0.5em auto 0.5em 0.5em; }
  .header .navbar {
    width: 30%; }
    .header .navbar ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      max-width: 1200px; }
      .header .navbar ul a {
        text-decoration: none;
        outline: none;
        color: black;
        font-size: 1.25em; }
        .header .navbar ul a:hover {
          color: rgba(0, 0, 0, 0.8); }
  .header .navbar-dropdown {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background: #f9fcff;
    z-index: 11;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    top: 4.2rem; }
    .header .navbar-dropdown ul {
      width: 100%;
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0; }
      .header .navbar-dropdown ul a {
        text-decoration: none;
        outline: none;
        font-size: 1.25em;
        line-height: 3em;
        color: black;
        text-transform: uppercase; }
        .header .navbar-dropdown ul a:hover {
          color: rgba(0, 0, 0, 0.8); }
    .header .navbar-dropdown.collapsed {
      display: none; }
  .header svg {
    font-size: 2em;
    color: black;
    margin: 0.4em; }
    .header svg:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.8); }
